<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Mejores precios</title>
    <link
      rel="shortcut icon"
      type="image/ico"
      href="{{ url_for('static', filename='index.jpeg') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles_v1.css') }}"
    />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary fixed-top">
      <a class="navbar-brand" href="/products/">Mis productos</a>
      <a class="nav-item nav-link active" href="/data/">Actualizar datos</a>
    </nav>
    <div
      class="d-flex form-container fixed-top"
      style="
        justify-content: center;
        top: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 200px;
        padding-right: 200px;
        background-color: #f8f9fa;
      "
    >
      <form class="form-inline" action="/products/" method="get">
        <label for="sales_only" class="mr-2">Solo Ofertas</label>
        {% if sales_only %}
        <input type="checkbox" class="form-control" name="sales_only" checked />
        {% else %}
        <input type="checkbox" class="form-control" name="sales_only" />
        {% endif %}
        <select name="provider" class="form-control mx-4">
          <option value="">-- Todos --</option>
          {% for provider in providers %} {% if provider.id == provider_id %}
          <option value="{{ provider.id }}" selected
            >{{ provider.name }}</option
          >
          {% else %}
          <option value="{{ provider.id }}">{{ provider.name }}</option>
          {% endif %} {% endfor %}
        </select>
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="search"
          value="{{search}}"
          autofocus
        />
        <button class="btn btn-success my-2 my-sm-0" type="submit">
          Buscar
        </button>
      </form>
    </div>

    {% block content %}{% endblock %}
  </body>
</html>
