<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Mejores precios</title>
    <link
      rel="shortcut icon"
      type="image/ico"
      href="{{ url_for('static', filename='index.jpeg') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles_v1.css') }}"
    />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary fixed-top">
      <a class="navbar-brand" href="/products/">Mis productos</a>
      <a class="nav-item nav-link active" href="/data/">Actualizar datos</a>
    </nav>
    <div class="d-flex fixed-top search-form-container">
      <form class="form-inline" action="/products/" method="get">
        <label for="sales_only" class="mr-2">Solo Ofertas</label>
        {% if sales_only %}
        <input type="checkbox" class="big-checkbox" name="sales_only" checked />
        {% else %}
        <input type="checkbox" class="big-checkbox" name="sales_only" />
        {% endif %}
        <select name="category" class="ml-2">
          <option value="">-- Categorías --</option>
          {% for category in category_list %} {% if category ==
          selected_category %}
          <option value="{{ category }}" selected>{{ category }}</option>
          {% else %}
          <option value="{{ category }}">{{ category }}</option>
          {% endif %} {% endfor %}
        </select>
        <select name="provider" class="mx-2">
          <option value="">-- Proveedores --</option>
          {% for provider in providers %} {% if provider.id == provider_id %}
          <option value="{{ provider.id }}" selected
            >{{ provider.name }}</option
          >
          {% else %}
          <option value="{{ provider.id }}">{{ provider.name }}</option>
          {% endif %} {% endfor %}
        </select>
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="search"
          value="{{search}}"
          autofocus
        />
        <button class="btn btn-success my-2 my-sm-0" type="submit">
          Buscar
        </button>
      </form>
    </div>

    {% block content %}{% endblock %}
  </body>
</html>
