<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<title>Mejores precios</title>
	<link rel="shortcut icon" type="image/ico" href="{{ url_for('static', filename='index.jpeg') }}" />
	<style>
		html {
			font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Oxygen-Sans, Ubuntu, Cantarell, “Helvetica Neue”, sans-serif;
			font-size: 16px;
			line-height: 1.5;
			color: hsl(0, 0%, 33%);
		}

		body {
			background-color: #f8f9fa;
			margin-bottom: 50px;
		}

		.navbar-brand {
			font-weight: bold;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-dark bg-primary">
		<a class="navbar-brand" href='/products/'>Mis productos</a>
	</nav>
	<div class="container" style="margin-top: 50px">
		{% if success %}
		<div class="alert alert-success" role="alert">
			{{success}}
		</div>
		{% endif %}
		{% if error %}
		<div class="alert alert-warning" role="alert">
			Hubo un error: {{error}}
		</div>
		{% endif %}
		<form class="row" action="/data/" method="post" enctype="multipart/form-data">
			<div class="col-md-5">
				<div class="custom-file">
					<input type="file" class="custom-file-input" name="file" id="input-file" required>
					<label class="custom-file-label" for="input-file">Seleccionar archivo...</label>
					<small class="form-text text-muted">Solo Archivo csv</small>
				</div>
			</div>
			<div class="col-md-5">
				<button type="submit" class="btn btn-primary">Enviar</button>
			</div>
		</form>
		<br>
		<div>
			<h2>Requerimientos</h2>
			<p>Archivo CSV, archivo de texto plano en que los valores se separen por ";". En excel se puede exportar a
				CSV facilmente.</p>
			<p>La primera linea debe contener los encabezados. Deben ser los siguientes en el orden correcto.</p>
			<p>Código, Marca, Descripción, Proveedor, Fuente, Peso, Descripción Completa, Categoría, Subcategoría,
				Observación, Precio Normal, Precio Oferta, Precio Pack, URL Foto Producto.</p>
			<p>No se revisa el nombre de los encabezados, pero ese debe ser el orden.</p>
			<p>En Proveedor se permite solo los siguientes (tener cuidado con equivocarse, arrojará un error si es que
				hay uno):</p>
			<ul>
				<li>Lider</li>
				<li>Alvi</li>
				<li>Central Mayorista</li>
				<li>La Caserita</li>
				<li>Jumbo</li>
			</ul>
		</div>
		<div style="display: flex; flex-direction: row;">
			<a href="/data/{{file}}">
				<button type="button" class="btn btn-primary">Descagar datos actuales</button>
			</a>
			<p style="padding: 5px;">Ideal para editar los datos que se ven actualmente</p>
		</div>

		<br>

		{% if mayorista_scrape %}
		<div>
			<p>Status última descarga de Central Mayorista: {{mayorista_scrape.status}}</p>
			{% if mayorista_scrape.status == "SUCCESS" %}
			<a href="/scrapes/central_mayorista/{{mayorista_scrape.filename}}">
				<button type="button" class="btn btn-primary">Descargar último archivo con datos de central
					mayorista</button>
			</a>
			<br>
			{% endif %}
		</div>
		{% endif %}
		<div>
			<form class="row" action="/scrapes/central_mayorista/" method="post">
				<div class="col-md-5">
					<button type="submit" class="btn btn-warning">Obtener datos de Central Mayorista nuevamente</button>
				</div>
				<p>Demorará alrededor de 4 minutos</p>
			</form>
		</div>

		<hr>

		{% if caserita_scrape %}
		<div>
			<p>Status última descarga de La Caserita: {{caserita_scrape.status}}</p>
			{% if caserita_scrape.status == "SUCCESS" %}
			<a href="/scrapes/la_caserita/{{caserita_scrape.filename}}">
				<button type="button" class="btn btn-primary">Descargar último archivo con datos de la
					caserita</button>
			</a>
			<br>
			{% endif %}
		</div>
		{% endif %}
		<div>
			<form class="row" action="/scrapes/la_caserita/" method="post">
				<div class="col-md-5">
					<button type="submit" class="btn btn-warning">Obtener datos de La Caserita nuevamente</button>
				</div>
				<p>Demorará alrededor de 10 minutos</p>
			</form>
		</div>

		<hr>

		{% if alvi_scrape %}
		<div>
			<p>Status última descarga de Alvi: {{alvi_scrape.status}}</p>
			{% if alvi_scrape.status == "SUCCESS" %}
			<a href="/scrapes/alvi/{{alvi_scrape.filename}}">
				<button type="button" class="btn btn-primary">Descargar último archivo con datos de Alvi</button>
			</a>
			<br>
			{% endif %}
		</div>
		{% endif %}
		<div>
			<form class="row" action="/scrapes/alvi/" method="post">
				<div class="col-md-5">
					<button type="submit" class="btn btn-warning">Obtener datos de Alvi nuevamente</button>
				</div>
				<p>Demorará alrededor de 1 minuto</p>
			</form>
		</div>

		<hr>

		{% if lider_scrape %}
		<div>
			<p>Status última descarga de Lider: {{lider_scrape.status}}</p>
			{% if lider_scrape.status == "SUCCESS" %}
			<a href="/scrapes/lider/{{lider_scrape.filename}}">
				<button type="button" class="btn btn-primary">Descargar último archivo con datos de Lider</button>
			</a>
			<br>
			{% endif %}
		</div>
		{% endif %}
		<div>
			<form class="row" action="/scrapes/lider/" method="post">
				<div class="col-md-5">
					<button type="submit" class="btn btn-warning">Obtener datos de Lider nuevamente</button>
				</div>
				<p>Demorará alrededor de 4 minutos</p>
			</form>
		</div>

		<hr>


		{% if jumbo_scrape %}
		<div>
			<p>Status última descarga de Jumbo: {{jumbo_scrape.status}}</p>
			{% if jumbo_scrape.status == "SUCCESS" %}
			<a href="/scrapes/jumbo/{{jumbo_scrape.filename}}">
				<button type="button" class="btn btn-primary">Descargar último archivo con datos de Jumbo</button>
			</a>
			<br>
			{% endif %}
		</div>
		{% endif %}
		<div>
			<form class="row" action="/scrapes/jumbo/" method="post">
				<div class="col-md-5">
					<button type="submit" class="btn btn-warning">Obtener datos de Jumbo nuevamente</button>
				</div>
				<p>Demorará alrededor de 12 minutos</p>
			</form>
		</div>
	</div>
</body>

</html>