{% extends "base.html" %}
{% block content %}
	<h3>Detalles del producto</h3>
	<div class="container product-info">
		<div class="product-image">
			<img src="{{product.url}}" onerror="this.src='/static/unknown_image.png'">
		</div>
		<div class="product-content">
			<p>{{product.brand}}</p>
			<p class="product-description">{{product.description}}</p>
			{% if product.complete_description %}
				<p>{{product.complete_description}}</p>
			{% endif %}
			<hr>
			<p>{{product.quantity}}</p>
			<p>{{product.category}}</p>
		</div>
	</div>
	<hr>
	<div class="container offers">
		{% for offer in offers %}
		<div class="offer">
			<div class="offer-image">
				<img src="{{ url_for('static', filename=offer.provider.url) }}"/>
			</div>
			<div class="offer-content">
				<div class="offer-brand">
					<h5 class="offer-name">{{offer.provider.name}}</h5>
					<p>{{offer.provider.description}}</p>
				</div>
				<div class="offer-price">
					{% if offer.sale_price %}
						<div class="price-container line-through">
							<p>Precio lista</p>
							<p class="price">{{offer.price|format_price}}</p>
						</div>
						<div class="price-container">
							<p>Precio Oferta</p>
							<p class="price sale">{{offer.sale_price|format_price}}</p>
						</div>
					{% else %}
						<div class="price-container">
							<p>Precio lista</p>
							<p class="price">{{offer.price|format_price}}</p>
						</div>
					{% endif %}
					{% if offer.comment %}
						<p class="offer-comment">{{offer.comment}}</p>
					{% endif %}
					{% if offer.source %}
						<p class="offer-comment">Fuente: <a href="{{offer.source}}">{{offer.source}}</a></p>
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="container">
		{% if similar_products %}
			<h2 class="similar_products">Productos similares</h2>
		{% endif %}
		<div class="row card-group">
			{% with products=similar_products %}
				{% include "product_template.html" %}
			{% endwith %}
		</div>
	</div>
{% endblock %}