<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<title>Mejores precios</title>
	<link rel="shortcut icon" type="image/ico" href="{{ url_for('static', filename='index.jpeg') }}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
	<nav class="navbar navbar-dark bg-primary">
  	  <a class="navbar-brand" href='/products/'>Mis productos</a>
	  <a class="nav-item nav-link active" href="/data/">Actualizar datos</a>
	  <form class="form-inline" action="/products/" method="get">
	    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" value="{{search}}" autofocus>
	    <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
	  </form>
	</nav>
	<h3>Detalles del producto</h3>
	<div class="container product-info">
		<div class="product-image">
			<img src="{{product.url}}">
		</div>
		<div class="product-content">
			<p>{{product.brand}}</p>
			<p class="product-description">{{product.description}}</p>
			<hr>
			<p>{{product.quantity}}</p>
			<p>{{product.category}}</p>
		</div>
	</div>
	<hr>
	<div class="container offers">
		{% for offer in offers %}
		<div class="offer">
			<div class="offer-image">
				<img src="{{ url_for('static', filename=offer.provider.url) }}"/>
			</div>
			<div class="offer-content">
				<div class="offer-brand">
					<h5 class="offer-name">{{offer.provider.name}}</h5>
					<p>{{offer.provider.description}}</p>
				</div>
				<div class="offer-price">
					{% if offer.sale_price %}
						<div class="price-container line-through">
							<p>Precio lista</p>
							<p class="price">$ {{offer.price}}</p>
						</div>
						<div class="price-container">
							<p>Precio Oferta</p>
							<p class="price sale">$ {{offer.sale_price}}</p>
						</div>
					{% else %}
						<div class="price-container">
							<p>Precio lista</p>
							<p class="price">$ {{offer.price}}</p>
						</div>
					{% endif %}
					{% if offer.comment %}
						<p class="offer-comment">{{offer.comment}}</p>
					{% endif %}
					{% if offer.source %}
						<p class="offer-comment">Fuente: {{offer.source}}</p>
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="container">
		<h2>Productos similares</h2>
		<div class="row card-group">
		{% for product in similar_products %}
			<div class="row col-sm-4">
				<div class="card">
					<a href="/products/{{product.id}}" class="a-card">
					  <img class="card-img-top" src="{{product.url}}" alt="Product image" width="100px">
					  <div class="card-body">
					    <h3 class="card-title">{{ product.description }}</h3>
					    <div class="best-price">
					    	<p class="card-text price">{{ product.best_price.price }}</p>
					    	<p class="card-text">{{ product.best_price.provider.name }}</p>					    	
					    </div>
					  </div>
					</a>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
</body>
</html>

